<div class="bgComponent" id="update">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Update user</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              
              <input
               [(ngModel)]="userData.name"
                matInput
                placeholder="Name and lastname"
                required             
              />
              
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="userData.email"
                type="email"
                matInput
                placeholder="Email"
                disabled
              />
            </mat-form-field>
  
            <mat-form-field appearance="fill" >
              <mat-label>Choose Role</mat-label>
              <mat-select required  [(ngModel)]="userData.role" >
                <mat-option *ngFor="let role of roleData" value="{{ role.name }}" >{{ role.name }}</mat-option>           
              </mat-select>
              
            </mat-form-field>
            
          </div>
        </mat-card-content>
        <mat-dialog-actions>
          <button  class="button" mat-raised-button (click)="update()">
            Update
          </button>
        <br>
        
        <button class="button" mat-raised-button (click)="onNoClick()">
            Cancel
          </button>
        </mat-dialog-actions>
      </mat-card>
    </div>
  </div>
